*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

body {
    background-color: #606060;
}

.audio-container {
    position: relative;
    /* width: 400px; */
    /* height: 250px; */
    width: 260px;
    height: 400px;
    top: 50vh;
    transform: translateY(-50%);
    margin: auto;
    background-color: #303030;
    border-radius: 10px;
    text-align: center;
}

.description-container {
    position: relative;
    /* background-color: yellow; */
    border-radius: 10px;
    width: 100%;
    height: 350px;
}

.img-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    transition: 200ms;
}

.img-container:hover {
    background-color: #90909099;
    height: 200px;
    border-radius: 10px;
    transition: 300ms;
}

.img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 200px;
    max-width: 200px;
    border-radius: 5%;
}

.button-left {
    position: absolute;
    border-radius: 10px;
    left: 0px;
    width: 30px;
    height: 100%;
    /* border: #fff 1px solid; */
}

.img-button-left {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    background-color: #90909000;
    border-radius: 50%;
}

.img-button-left:hover {
    background-color: #90909099;
}

.button-right {
    position: absolute;
    right: 0px;
    border-radius: 10px;
    width: 30px;
    height: 100%;
    /* border: #fff 1px solid; */
}

.img-button-right {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    background-color: #90909000;
    border-radius: 50%;
}

.img-button-right:hover {
    background-color: #90909099;
}

.bar-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#bar {
    width: 90%;
}

#timer-atual {
    position: absolute;
    left: 15px;
    top: 20px;
    /* background-color: red; */
}

#timer-total {
    position: absolute;
    right: 15px;
    top: 20px;
    /* background-color: blue; */
}

.controls {
    width: 260px;
    height: 50px;
    position: absolute;
    bottom: 0;
    /* transform: translateY(-100%); */
    background-color: #efefef;
    border-radius: 5px 5px 10px 10px;
    border: #212121 2px solid;
    text-align: center;
}

.btn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    margin-left: 0.5%;    
    margin-right: 0.5%;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #212121;
}

.btn:hover {
    background-color: #cecece;
}

.btn:active{
    background-color: #606060;
    padding: 2px;
}

